/* Display Block */
.container {
  background-color: aqua;
  padding: 5px;
}

.container div {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: beige;
}

/* Display Flex */
.container-flex {
  margin-top: 10px;
  display: flex;
  background-color: coral;
  padding: 3px;
  justify-content: center;
}

.container-flex div {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 2px;
}
