*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Display Block
.container {
  background-color: aqua;
  padding: 5px;
}

.container div {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: beige;
}
 */

/* Display Flex
.container-flex {
  margin-top: 10px;
  display: flex;
  background-color: coral;
  padding: 3px;
  width: 100%;
  height: 250px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-flex div {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 2px;
}

.flex-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .container-flex {
    flex-direction: column;
  }
}
*/

body,
header,
main {
  display: flex;
  flex-flow: column nowrap;
}

header,
section {
  height: 100vh;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
}

.menu-container ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.menu-container ul a,
#home {
  height: 50px;
  width: 70px;
  padding: auto 10px;
  display: inline-block;
  text-decoration: none;
  color: darkslategrey;
  text-align: center;
  line-height: 50px;
}

.menu-container ul a:hover,
#home:hover {
  background-color: darkslategray;
  color: beige;
  transition: 0.25s;
}

header nav {
  position: sticky;
  top: 0;
}

header img {
  width: 100%;
  height: 650px;
}

/* Sections */

section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

section img {
  width: 400px;
}

#sec1 {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
#sec2 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
#sec3 {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.content-text {
  margin: 10px;
  padding: 5px;
}

section a {
  display: inline-block;
  width: 70px;
  height: 30px;
  background-color: darkslategray;
  color: beige;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}

section a:hover {
  font-weight: bold;
  color: darkslategray;
  background-color: beige;
  transition: 0.25s;
}

@media screen and (max-width: 1000px) {
  section {
    flex-direction: column;
  }
}
